<footer class="p-8 bg-gray-800 text-white m-auto py-8">
    <section class="flex flex-wrap md:justify-around items-center">
        <article class="flex flex-wrap">
            <img class="w-16 h-16" src="images/fwo.png" alt="fwo">
            <a class="pl-12" href="www.fwo.be">FWO <span class="block no-underline">Fonds wetenschappelijk Onderzoek <br> Research Foundation Flanders</span></a>
        </article>
        
        <article class="flex flex-wrap">
            <img class="w-64 h-16" src="images/vlaio.png" alt="fwo">
            <a class="font-bold pl-12" href="https://www.vlaio.be/nl">Agentschap Innoveren en Ondernemen <span class="block font-bold-100">Flanders innovation and Entrepeneurship</span></a>
        </article>
        
        
    </section>
   
</footer>