<section class="flex justify-between">
    <article class="bg-blue-800 p-12 h-64 flex items-center justify-center">
       <h1 class="size-1xl font-bold">PROGRAMS</h1>
    </article>
    <article class="pl-12">
       <h1 class="font-bold text-2xl pb-6">Secure (SC7) - Additional information for Applicants to SU-INFRA01-2018-2019-2020</h1>
       <p class="pb-6">12 March 2020 - 12:00</p>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate quasi dolor harum ullam et tenetur quam, debitis, placeat explicabo quae corporis odio numquam at dolorum natus quia, itaque quis libero.
       Distinctio rem odio incidunt ut, ipsa eveniet nulla aperiam nihil delectus cupiditate itaque quia doloribus. Officiis iure reprehenderit doloribus distinctio animi, impedit maxime, provident placeat, ad dolor cupiditate quae dolorum.
       Necessitatibus laboriosam molestiae magni minus voluptatibus quae reprehenderit consectetur cumque numquam nobis quidem soluta asperiores eaque sint assumenda repellendus beatae in officia quia recusandae, autem velit! Quaerat pariatur dolore expedita.
       Quis odio sit eius fugit sequi iure corporis distinctio nobis voluptatibus nisi? Blanditiis alias recusandae atque odio, fugiat quos dolorem voluptates consequuntur, ab perspiciatis, ad magnam tenetur! Reprehenderit, ducimus nihil?
       Repellendus similique aperiam aut velit impedit quis exercitationem, quisquam soluta blanditiis laudantium consequatur nulla omnis dolorem sed pariatur autem. Ab quisquam illum molestias magnam in officiis repudiandae ipsa modi dicta.
       Vitae sit, autem eligendi totam beatae delectus, impedit cupiditate similique iure quia doloribus. Optio quo nostrum rem omnis explicabo consequatur, mollitia molestiae delectus ipsa quam error libero quis beatae expedita.</p>
    </article>
</section>